body{
    background-image: url(images/img.jpg);
    background-size:cover;
}
.container {
    margin:auto;
    width: 1000px;
    padding-top: 50px;
}

.nav
{
  color: #fee2b3;
  text-shadow: 1px 0px black;
  font-weight: bold;
}
.contener
{
  background-color:#87431d;
  position: absolute;
  height: 46px;
  width: 100%;
  top:0px;
  left: 0px;
  position: fixed;
  z-index: 11;
}
.contener img
{
  height:45px;
  width: 60px;
  margin:3px 5px; 
}
.contener span
{
  position: relative;
  margin:5px;
  bottom: 15px;
  font-size: 30px;
}
.contener a
{
  display: inline-block;
  color: #fee2b3;
  text-decoration: none;
  padding: 13px 15px;
  height: 20px;
  line-height:20px;
  font-size: 20px;
  font-weight: bold;
}
.contener a:hover
{
  background-color: #fa7d09;
}
.contener ul
{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  float: right;
}
.contener li
{
  float: left;
}
.contant {
    background-color: rgba(54, 79, 107,0.7);
    width: 1000px;
    margin:auto;
    height: 100;
}
.contant .container .happy{
    padding-left: 300px;
    font-size: 30px;
    margin: auto;
}
.contant .container .text{
    padding-left: 350px;
    font-size: 30px;
    margin: auto;
}
.contant .container .text1{
    padding-left: 300px;
    font-size: 30px;
    margin: auto;
}
.contant .container .place .faces{
    padding-left: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
}
.contant .container .place .faces img:hover{
    height: 100px;
    width: 100px;
}
.contant .container .op textarea{
    margin-left: 270px;
    font-size: 30px;
    height: 100px;
    width: 400px;
    border-radius: 15px;
    color:#fc5185;
}
.contant .container .op textarea:active{
    background-color: rgba(47, 37, 25 ,0.7);
}
button
{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 420px;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    font-size: 20px;
    background-color: #f5f5f5;
    color:#fc5185;
    text-shadow: 1px 1px rgba(47, 37, 25 ,0.7);
}
button:hover{
    font-size: 25px;
    text-shadow: 0px 0px black;
}